<header class="bg-primary py-1">
    <div class="container px-4 px-lg-5 my-1">
        <div class="text-center text-white">
            <p class="lead fw-bold text-white mt-4 slide-in" style="font-family: 'Montserrat', sans-serif; font-size: 1.5rem;">
                Bienvenue dans la platefome du gestion des stagaires du MEDIANET
            </p>
            <div class="containerimg swing-animation" style="width: 150px; height: 110px; border: 1.5px solid #ffffff; border-radius: 5px; display: inline-block; overflow: hidden; padding-left: 20px; padding-right: 20px;padding-bottom:50px;">
                <a href="https://www.medianet.tn/fr/"><img src="\medianet.png" alt="Logo du medianet" style="width: 90px; height: auto;"></a>
            </div>

        </div>
    </div>
</header>
