<footer class="footer bg-primary py-4">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Section Description -->
            <div class="col-md-6 col-lg-4">
                <h4 class="text-white mb-3">À propos de nous</h4>
                <p class="footer-text mb-2">Nous nous engageons à offrir des services de qualité supérieure pour répondre pleinement aux besoins de nos clients. N'hésitez pas à nous contacter pour toute demande ou question.</p>
            </div>

            <!-- Section Réseaux Sociaux -->
            <div class="col-md-6 col-lg-4 text-center">
                <h4 class="text-white mb-3">Suivez-nous</h4>
                <p class="text-white mb-1">Suivez toutes nos actualités et nouveautés</p>
                <div class="social-icons mb-3">
                    <a href="https://www.medianet.tn/fr/" aria-label="Medianet">
                        <img src="/Medianet.png" alt="Medianet" class="image-custom" style="max-width: 40px; margin-right: 15px;">
                    </a>
                    <a href="https://www.facebook.com/MEDIANET.tn" aria-label="Facebook">
                        <img src="\logo_facebook.png" alt="Facebook" class="animated-img" style="max-width: 40px; margin-right: 15px;">
                    </a>
                    <a href="https://www.instagram.com/medianet.tn" aria-label="Instagram">
                        <img src="\logo_insta.png" alt="Instagram" class="animated-img" style="max-width: 40px; margin-right: 15px;">
                    </a>
                    <a href="https://www.linkedin.com/company/medianet-2/?originalSubdomain=tn" aria-label="LinkedIn">
                        <img src="\logo_linkdin.webp" alt="LinkedIn" class="animated-img" style="max-width: 40px; margin-right: 15px;">
                    </a>
                    <a href="mailto:info@medianet.com.tn" aria-label="Email">
                        <img src="\logomail2.png" alt="Email" class="animated-img" style="max-width: 40px;">
                    </a>
                </div>
            </div>

            <!-- Section Contact -->
            <div class="col-md-6 col-lg-4">
                <h4 class="text-white mb-3">Contactez-nous</h4>
                <div class="footer-info mb-2">
                    <div class="footer-info_icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="media-body">
                        <span class="footer-info_label">Téléphone :</span>
                        <div class="footer-info_link">
                            <a href="tel:+21628910608" class="text-white">+216 28 910 608</a>
                        </div>
                    </div>
                </div>
                <div class="footer-info mb-2">
                    <div class="footer-info_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="media-body">
                        <span class="footer-info_label">Email :</span>
                        <div class="footer-info_link">
                            <a href="mailto:info@medianet.com.tn" class="text-white">info_medianet.com.tn</a>
                        </div>
                    </div>
                </div>
                <div class="footer-info mb-2">
                    <div class="footer-info_icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="media-body">
                        <span class="footer-info_label">Adresse :</span>
                        <div class="footer-info_link">
                            <span class="text-white">Immeuble Essaadi Tour C-D, Avenue Habib Bourguiba, 1004 Tunis</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-3" style="font-size: 0.875rem;">
            1998 - 2024 © Medianet
        </p>
    </div>
</footer>
