@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');





.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Hauteur minimum de 100% de la vue */
}

.form-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 30px;
}

.form-content {
    position: relative;
    padding: 40px;
    border-radius: 10px;
    background-color: #1f2b38; /* Fond légèrement plus clair pour le contenu du formulaire */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Ombre douce */
    transition: transform 0.3s ease; /* Effet de transition pour le formulaire */
    background-color: #9dd1e7;
}

.form-content:hover {
    transform: translateY(-5px); /* Effet de levage au survol */
}

.form-items {
    text-align: left;
}

.form-content h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px; /* Ajustement de l'espacement */
}

.form-content p {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5; /* Espacement des lignes */
    margin-bottom: 30px;
}

.form-content label {
    color: #fff; /* Couleur des labels */
}

.form-content input[type=text], 
.form-content input[type=password], 
.form-content input[type=email], 
.form-content input[type=file] {
    width: 100%;
    padding: 12px 15px; /* Espacement amélioré */
    border: 1px solid #ddd; /* Bordure pour les champs */
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    color: #333; /* Couleur du texte */
    margin-top: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition pour la bordure et l'ombre */
}

.form-content input[type=text]:focus, 
.form-content input[type=password]:focus, 
.form-content input[type=email]:focus {
    border-color: #6c757d; /* Couleur de la bordure au focus */
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5); /* Ombre au focus */
}

.btn-primary {
    background-color: #007bff; /* Couleur du bouton */
    border: none;
    color: #fff; /* Couleur du texte */
    padding: 10px 20px;
    border-radius: 6px;
    transition: background-color 0.3s ease; /* Transition pour le bouton */
}

.btn-primary:hover {
    background-color: #0056b3; /* Couleur au survol */
}

.invalid-feedback {
    color: #ff606e; /* Couleur pour les messages d'erreur */
}

.valid-feedback {
    color: #2acc80; /* Couleur pour les messages de validation */
}

/* Style pour la case à cocher */
.form-check {
    margin-top: 20px; /* Espacement supérieur */
}

.form-check-label {
    color: #fff; /* Couleur du texte de la case à cocher */
}
.container-fluid {
    background: linear-gradient(to right, #636ddee0, #95a7ba);

}
.a{
    background-color: #8c949a;
}