<div class="sidebar">
    <nav class="nav flex-column">
      <a class="nav-link active" href="">Accueil</a>
      <a class="nav-link" href="/journal">Journal du stage</a>
      <a class="nav-link" href="/comportement">Comportement</a>
      <a class="nav-link" href="/stagiaires">Stagiaires</a>
      <a class="nav-link" href="/encadrants">Encadrants</a>
      <a class="nav-link" href="/aboutus">À propos</a>
      <a class="nav-link" href="/contact">Contact</a>
      <a class="nav-link" href="/profil">Profil</a>
    </nav>
  </div>
  
  <div class="content">
    <!-- Le contenu principal de la page ira ici -->
  </div>
  