<app-nav></app-nav>



<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Démarrez Votre Aventure Professionnelle</h1>
                <p class="fs-4 text-white mb-4 animated slideInDown">Rejoignez-nous pour un stage enrichissant qui vous prépare à un avenir prometteur.</p>
                <p class="fs-5 text-white mb-4 animated slideInDown">Chez MEDIANET, nous valorisons l'apprentissage et le développement. Profitez de cette opportunité pour acquérir de nouvelles compétences et élargir votre réseau professionnel.</p>
                <p class="fs-5 text-white mb-4 animated slideInDown">Postulez maintenant et faites le premier pas vers votre avenir !</p>
                <div class="position-relative w-75 mx-auto animated slideInDown">
                    <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Entrez votre domaine d'intérêt...">
                    <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Rechercher des Domaines</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
            <h1 class="mb-5">Nos Domaines</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-laptop text-primary mb-4"></i>
                        <h5>Projets Web</h5>
                        <p>Solutions pour créer des sites web personnalisés.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-shopping-cart text-primary mb-4"></i>
                        <h5>E-commerce</h5>
                        <p>Développement de sites web e-commerce.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-sitemap text-primary mb-4"></i>
                        <h5>Intranet & Extranet</h5>
                        <p>Solutions pour la gestion interne et externe.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cogs text-primary mb-4"></i>
                        <h5>Maintenance & Webmastering</h5>
                        <p>Support continu pour vos plateformes web.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-tv text-primary mb-4"></i>
                        <h5>Affichage Dynamique</h5>
                        <p>Solutions d'affichage interactif.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-users text-primary mb-4"></i>
                        <h5>Community Management</h5>
                        <p>Gestion de votre présence sur les réseaux sociaux.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-search text-primary mb-4"></i>
                        <h5>SEO</h5>
                        <p>Optimisation pour les moteurs de recherche.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-envelope text-primary mb-4"></i>
                        <h5>E-mailing & Smsing</h5>
                        <p>Stratégies de communication directe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5"></div>
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="/home.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">À Propos</h6>
                <h1 class="mb-4">Bienvenue à <span class="text-primary">MEDIANET</span></h1>
                <p class="mb-4">Chez MEDIANET, nous nous spécialisons dans l'e-business et la stratégie digitale. Notre mission est de vous aider à naviguer dans le paysage numérique en constante évolution.</p>
                <p class="mb-4">Avec des solutions sur mesure pour chaque client, nous vous aidons à atteindre vos objectifs commerciaux tout en maximisant votre présence en ligne.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Solutions Digitales</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Stratégies e-Business</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Support 24/7</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Développement Web et Mobile</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">En savoir plus</a>
            </div>
        </div>
    </div>



<div class="container text-center my-5">
    <h1 class="mb-4">Technologies</h1>
    <p>MEDIANET est partenaire dans la transformation et l’évolution technologique de ses clients</p>
    <div class="row justify-content-center">
        <div class="col-2">
            <img src="/nodejs.png" class="img-fluid" alt="Node.js" width="45px" height="70px">
        </div>
        <div class="col-2">
            <img src="/angular.jpeg" class="img-fluid" alt="Angular" width="45px" height="70px">
        </div>
        <div class="col-2">
            <img src="/react.png" class="img-fluid" alt="React" width="45px" height="70px">
        </div>
        <div class="col-2">
            <img src="/symfony.png" class="img-fluid" alt="Symfony" width="85px" height="70px">
        </div>
        <div class="col-2">
            <img src="/codeigniter.png" class="img-fluid" alt="CodeIgniter" width="55px" height="70px">
        </div>
        <div class="col-2">
            <img src="/laravel.avif" class="img-fluid" alt="Laravel" width="75px" height="70px">
        </div>
        <div class="col-2">
            <img src="/azure.jpg" class="img-fluid" alt="Microsoft Azure" width="65px" height="90px">
        </div>
        <div class="col-2">
            <img src="/Magento.webp" class="img-fluid" alt="Magento" width="135px" height="90px">
        </div>
        <div class="col-2">
            <img src="/prestashop.jpg" class="img-fluid" alt="PrestaShop" width="95px" height="90px">
        </div>
        <div class="col-2">
            <img src="/wordPress.png" class="img-fluid" alt="WordPress" width="75px" height="70px">
        </div>
        <div class="col-2">
            <img src="/Drupal.png" class="img-fluid" alt="Drupal" width="45px" height="70px">
        </div>
        <div class="col-2">
            <img src="/php.png" class="img-fluid" alt="PHP" width="45px" height="70px">
        </div>
        <div class="col-2">
            <img src="/flutter.webp" class="img-fluid" alt="Flutter" width="45px" height="70px">
        </div>
        <div class="col-2">
            <img src="/springboot.webp" class="img-fluid" alt="Spring Boot" width="45px" height="70px">
        </div>
    </div>
</div>




<app-footer></app-footer>
