<app-nav></app-nav>
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Inscrire maintenant</h3>
                    <p>Remplir les données ci-dessous.</p>
                    <form class="requires-validation" novalidate>

                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="nom" placeholder="Nom" required>
                                <div class="valid-feedback">nom field is valid!</div>
                                <div class="invalid-feedback">nom field cannot be blank!</div>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="prenom" placeholder="Prenom" required>
                                <div class="valid-feedback">prenom field is valid!</div>
                                <div class="invalid-feedback">prenom field cannot be blank!</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="adresse" placeholder="Adresse" required>
                                <div class="valid-feedback">adress field is valid!</div>
                                <div class="invalid-feedback">adress field cannot be blank!</div>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="domaine" placeholder="Domaine" required>
                                <div class="valid-feedback">domaine field is valid!</div>
                                <div class="invalid-feedback">domaine field cannot be blank!</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="email" name="mail" placeholder="Email" required>
                            <div class="valid-feedback">mail field is valid!</div>
                            <div class="invalid-feedback">mail field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="password" name="password" placeholder="Mot de passe" required>
                            <div class="valid-feedback">password field is valid!</div>
                            <div class="invalid-feedback">password field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="text" name="telephone" placeholder="Téléphone" required>
                            <div class="valid-feedback">telephone field is valid!</div>
                            <div class="invalid-feedback">telephone field cannot be blank!</div>
                        </div>
                        <br>

                        <div class="col-md-12">
                            <label for="cv">CV : </label>
                            <input class="form-control" type="file" name="cv" required>
                            <div class="valid-feedback">cv field is valid!</div>
                            <div class="invalid-feedback">cv field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <label for="photo">Photo : </label>
                            <input class="form-control" type="file" name="photo" required>
                            <div class="valid-feedback">photo field is valid!</div>
                            <div class="invalid-feedback">photo field cannot be blank!</div>
                        </div>
                        <br>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label">Je confirme que toutes les informations sont correctes</label>
                            <div class="invalid-feedback">s'il vous plaît, confirmez vos données!</div>
                        </div>

                        <div class="form-button mt-3" style="text-align: center;">
                            <button id="submit" type="submit" class="btn btn-primary">S'inscrire</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
